<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GrpcClient</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FetchWeatherApi">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Weather API
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FetchWeatherGrpc">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Unary
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FetchWeatherGrpcStream">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Server Streaming
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Average">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Client Streaming
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CurrentMax">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bi-Directional
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FetchWeatherGrpcChunk">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Weather In Chunk
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GreeterGrpc">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Greet GRPC
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GreeterApi">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Greet API
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
