@page "/GreeterApi"
@inject HttpClient _http

<div>
    <button @onclick="GetGreet" class="btn-submit">Send Request</button>
    <span>Time taken: <span class="time">@_stopWatch.ElapsedMilliseconds</span> milliseconds</span>
</div>
<hr/>


<h3>@HelloMessage</h3>

@code {
    private string HelloMessage { get; set; }

    private Stopwatch _stopWatch = new Stopwatch();


    protected override async Task OnInitializedAsync()
    {
        await GetGreet();
        await base.OnInitializedAsync();
    }

    private async Task GetGreet()
    {
        ResetState();

        _stopWatch.Start();

        var Name = "Johny dảk";

        var postBody = Helper.ConverToBodyStringContent(Name);
        var httpRequest = Helper.CreateHttpRequest("/Greet");
        httpRequest.Method = HttpMethod.Post;
        httpRequest.Content = postBody;

        var response = await _http.SendAsync(httpRequest);
        var content = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }

        HelloMessage = content;

        _stopWatch.Stop();
    }

    private void ResetState()
    {
        HelloMessage = string.Empty;

        _stopWatch.Reset();

        StateHasChanged();
    }
}
