@page "/GreeterApi"
@inject HttpClient Http

<div>
    <button @onclick="GetGreet" class="btn-submit">Send Request</button>
    <span>Time taken: <span class="time">@_stopWatch.ElapsedMilliseconds</span> milliseconds</span>
</div>
<hr/>


<h3>@HelloMessage</h3>

@code {
    private string HelloMessage { get; set; }

    private Stopwatch _stopWatch = new Stopwatch();


    protected override async Task OnInitializedAsync()
    {
        await GetGreet();
        await base.OnInitializedAsync();
    }

    private async Task GetGreet()
    {
        ResetState();

        _stopWatch.Start();

        var Name = "Johny dảk";

        var postBody = ConverToBodyStringContent(Name);

        var response = await Http.PostAsync("Greet", postBody);
        var content = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }

        HelloMessage = content;

        _stopWatch.Stop();
    }

    private void ResetState()
    {
        HelloMessage = string.Empty;

        _stopWatch.Reset();

        StateHasChanged();
    }

    private StringContent ConverToBodyStringContent<T>(T model)
    {
        var json = JsonSerializer.Serialize<T>(model);
        var stringContent = new StringContent(json, UnicodeEncoding.UTF8, "application/json");
        return stringContent;
    }
}
