@page "/GreeterGrpc"


<div>
    <button @onclick="GetGreet" class="btn-submit">Send Request</button>
    <span>Time taken: <span class="time">@_stopWatch.ElapsedMilliseconds</span> milliseconds</span>
</div>
<hr/>


<h3>@HelloMessage</h3>

@code {
    [Inject] protected GrpcChannel? channel { get; set; }

    public string HelloMessage { get; set; } = string.Empty;

    private Stopwatch _stopWatch = new Stopwatch();

    private GrpcGreeterProtobuf.Greeter.GreeterClient _client { get; set; } = null;

    private AsyncUnaryCall<GrpcGreeterProtobuf.HelloReply> _call { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        _client = RegisterGrpcGreeterService();

        await GetGreet();

        await base.OnInitializedAsync();
    }

    protected async Task GetGreet()
    {
        ResetState();

        _stopWatch.Start();

        var getGreetRequest = new GrpcGreeterProtobuf.HelloRequest() { Name = "Johny Dảk" };

        var response = await _client.SayHelloAsync(getGreetRequest);

        HelloMessage = response.Message;

        // OR
        //_call = _client.SayHelloAsync(getGreetRequest);
        //var response = await _call.ResponseAsync;
        //HelloMessage = response.Message;

        _stopWatch.Stop();
    }

    private void ResetState()
    {
        HelloMessage = string.Empty;

        _stopWatch.Reset();

        StateHasChanged();
    }

    protected GrpcGreeterProtobuf.Greeter.GreeterClient RegisterGrpcGreeterService()
    {
        return new GrpcGreeterProtobuf.Greeter.GreeterClient(channel);
    }
}
