@page "/FetchWeatherGrpc"

<PageTitle>Weather forecast Grpc</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the GRPC server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Timestamp</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject] protected GrpcChannel? channel { get; set; }

    private IEnumerable<GrpcWeatherForecastProtobuf.WeatherForecastData> forecasts;

    protected override async Task OnInitializedAsync()
    {
        await GetWeather();

        await base.OnInitializedAsync();
    }

    protected async Task GetWeather()
    {
        var client = RegisterGrpcGreeterService();

        var getWeatherForecastRequest = new GrpcWeatherForecastProtobuf.WeatherForecastRequest();

        var response = await client.ForecastingAsync(getWeatherForecastRequest);

        forecasts = response.WeatherForecastData;
    }


    protected GrpcWeatherForecastProtobuf.WeatherForecast.WeatherForecastClient RegisterGrpcGreeterService()
    {
        return new GrpcWeatherForecastProtobuf.WeatherForecast.WeatherForecastClient(channel);
    }
}