@page "/GreeterGrpc"

<h3>@HelloMessage</h3>

@code {
    [Inject] protected GrpcChannel? channel { get; set; }

    public string HelloMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetGreet();

        await base.OnInitializedAsync();
    }

    protected async Task GetGreet()
    {
        var client = RegisterGrpcGreeterService();

        var getGreetRequest = new GrpcGreeterProtobuf.HelloRequest() { Name = "Johny Dảk" };

        var response = await client.SayHelloAsync(getGreetRequest);

        HelloMessage = response.Message;
    }


    protected GrpcGreeterProtobuf.Greeter.GreeterClient RegisterGrpcGreeterService()
    {
        return new GrpcGreeterProtobuf.Greeter.GreeterClient(channel);
    }
}